<app-header></app-header>

<div class="container  mt-3  d-flex  p-4  flex-wrap  justify-content-around">
    <div class="card" *ngFor="let atm of atms">
        <div class="card-body">
         <h3 class="card-title">{{atm.name}}</h3>
         <hr>
         <h4 class="card-subtitle mb-2 text-muted">{{atm.branch.name}} </h4>
         <h4 class="card-subtitle mb-2 text-muted">{{atm.branch.city}}, {{atm.branch.address}} </h4>
         <h4 class="card-subtitle mb-2 text-muted">{{atm.branch.phoneNumber}} </h4>
        </div>
        <div class="card-footer">
            <button class="btn btn-warning">DETALJNIJE</button>
        </div>
    </div>
</div>

<app-footer></app-footer>